<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="caixa-pai">
        <nav>
            <div id="caixa-titulo">
                <div class="menuDrop">
                    <button onclick="abrir()" class="droparbtn">|||</button>
                    <div id="menuItens" class="conteudoDrop">
                        {% if g.user %}
                        <span>{{ g.user['username'] }}</span>
                        <a href="{{ url_for('logout') }}">Log Out</a>
                      {% else %}
                        <a href="{{ url_for('registrar') }}">Register</a>
                        <a href="{{ url_for('login') }}">Log In</a>
                      {% endif %}
                    </div>
                </div>
                <div class="btn"><button id="btn-ant" type="button" method="PUT" ><a href="{{ url_for('ant')}}"><</a></button></div>
                <div id="btn-mes" class="btn">
                    <button type="button" id="atual"  >
                        {% if mesVisualizado %}
                            <p class="mesAtual" >{{ diaVisualizado+"/"+mesVisualizado }}</p>
                        {% endif %}
                    </button>   
                </div>
                <div class="btn"><button id="btn-prox" type="button" method="PUT" ><a href="{{ url_for('prox')}}">></a>                      
                </button></div>
                
            </div>
        </nav>
        <div id="caixa-calendario">
            {% for post in posts %}
                {% if post['time'][8:10]==diaVisualizado %}
                    <div class="evento-corpo">     
                            <p class="evento-titulo">{{post['title']}} - Criado por {{post['username']}}
                            <br><p class="evento-descricao">Descrição: {{ post['body']  }}</p> 
                            <br><p class="evento-target">Marcado para {{ post['time'][11:16]  }} </p>
                            {% if g.user['id'] == post['author_id'] %}
                                <a class="action" href="{{ url_for('update', id=post['id']) }}">Edit</a>
                            {% endif %}
                        <a></a>
                     </div>
                {% endif %}
            {% endfor %}
 
        </div>  
    </div>

 


 
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
 