<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Log In - Agenda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="caixa-pai">
        <form method="post">
            <label for="username">Nome de usuário</label>
            <input name="username" id="username" required>
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" required>
            <input type="submit" value="Log In">
        </form>
        <div>
    
        </div>
    </div>

</body>
</html>